.arrows {
    pointer-events: none;
    height: calc(100vh - #{$play-size + ($stopwatch-height * 2)});
    display: flex;
    align-items: center;
    justify-content: center;

    >div {
        position: absolute;
        height: $size;
        width: $size;

        &::before,
        &::after {
            content: "";
            display: block;
            position: absolute;
            background: $dark-bg;
            height: $thickness;
            width: $size;
            border-radius: math.div($thickness, 2);
        }

        .dark &::before,
        .dark &::after {
            background: white;
        }

        &.bl::before,
        &.br::before {
            bottom: 0;
        }

        &::after {
            width: $thickness;
            height: $size;
        }

        &.fr::after,
        &.mr::after,
        &.br::after {
            right: 0;
        }
    }

    .ml {
        transform: rotate(-45deg);
    }

    .mr {
        transform: rotate(45deg);
    }
}
